{% extends 'layout.html' %}

{% block content %}

       
    <div class="row justify-content-center  black-box-index"> 
        
        <div class="col-sm-12">
            <div class="row justify-content-end">
                <div class="col-sm-4">
                    <h1 class="text-white text-rigth">Network Automation by <strong>Alfred 2.0</strong>  </h1>           
                </div>   
                <div class="col-sm-1"></div>
            </div>
            <br>
            <div class="row justify-content-end">
                <div class="col-sm-6 p-2">
                    <img src="/static/img/smart-city.jpeg" alt="" style="width: 700px; border-radius: 0.5rem;">
                </div>
                <div class="col-sm-5 p-2 text-white text-rigth">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem nostrum dignissimos perferendis sint laborum eum tenetur provident vel itaque, possimus ipsam laboriosam, ipsa aperiam reprehenderit nisi qui. Nulla, vitae. <br><br>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni nihil voluptate et, ipsa illo ea odit itaque dolorum qui necessitatibus animi doloremque nemo ut quidem? Esse ducimus natus error hic?
                    <br><br>
                    <img src="/static/img/python-logo.png" style="width: 120px;">
                    <img src="/static/img/django.png" style="width: 130px;">
                    <img src="/static/img/nso-logo.png" style="width: 120px;">
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempore quasi rerum porro exercitationem, excepturi explicabo est, maxime error dicta laboriosam, architecto mollitia nam odit possimus molestias magni ab amet.
                </div>  
                <div class="col-sm-1"></div>             
            </div>
            

        </div>
        
        
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let element = document.getElementById('navBarHome');
            element.classList.add('active');
        })
    </script>
    

{% endblock %}