{% extends 'layout.html' %}

{% block content %}

       
    <div class="row justify-content-center  black-box-index"> 
        
        <div class="col-sm-12">
            <div class="row justify-content-end">
                <div class="col-sm-4">
                    <h1 class="text-white text-rigth">Network Automation by <strong>Alfred 2.0</strong>  </h1>           
                </div>   
                <div class="col-sm-1"></div>
            </div>
            <br>
            <div class="row justify-content-end">
                <div class="col-sm-6 p-2">
                    <img src="/static/img/smart-city.jpeg" alt="" style="width: 700px; border-radius: 0.5rem;">
                </div>
                <div class="col-sm-5 p-2 text-white text-rigth">Alfred 2.0 was designed to support DIA requests which typically involve Ciena EDS Switch and Juniper CAR Routers. Current version only supports directly connected EDS swiches and CAR routers. Phase 2 will include additional features at a later time. 
                    <br><br>
                    Today, intent-based networking capabilities are helping companies keep pace with the demands of digital and cloud. But effectively using those capabilities requires a new mindset and approach to the network focused on automation.
                    <br><br>
                    <img src="/static/img/python-logo.png" style="width: 120px;">
                    <img src="/static/img/django.png" style="width: 130px;">
                    <img src="/static/img/nso-logo.png" style="width: 120px;">
                    <br><br>
                    Seeing the network as a companywide software platform means that the network is no longer a set of physical boxes (that is dead), but instead a set of virtual software that can be quickly and easily deployed and distributed (long live the network!).
                </div>  
                <div class="col-sm-1"></div>             
            </div>
            

        </div>
        
        
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let element = document.getElementById('navBarHome');
            element.classList.add('active');
        })
    </script>
    

{% endblock %}